<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.teamProject.ezmeal.domain.BoardDto"/>
        <typeAlias alias="SearchCondition" type="com.teamProject.ezmeal.domain.SearchCondition" />
        <typeAlias alias="CommentDto" type="com.teamProject.ezmeal.domain.CommentDto"/>
        <typeAlias alias="MemberDto" type="com.teamProject.ezmeal.domain.MemberDto"/>
<!--        cart , cartProduct 추가 필요-->
<!--        <typeAlias alias="CartDto" type="com.teamProject.ezmeal.domain.CartDto"/>-->
<!--        <typeAlias alias="CartProductDto" type="com.teamProject.ezmeal.domain.CartProductDto"/>-->

    </typeAliases>
</configuration>