<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.teamProject.ezmeal.domain.BoardDto"/>
        <typeAlias alias="SearchCondition" type="com.teamProject.ezmeal.domain.SearchCondition" />
        <typeAlias alias="CommentDto" type="com.teamProject.ezmeal.domain.CommentDto"/>
<!--        cart , cartProduct 추가 필요-->
        <typeAlias alias="CartDto" type="com.teamProject.ezmeal.domain.CartDto"/>
        <typeAlias alias="CartProductDto" type="com.teamProject.ezmeal.domain.CartProductDto"/>
        <typeAlias alias="DeliveryAddressDto" type="com.teamProject.ezmeal.domain.DeliveryAddressDto"/>
        <typeAlias alias="MemberDto" type="com.teamProject.ezmeal.domain.MemberDto"/>
<!--상품 , 상품 이미지-->
        <typeAlias alias="ProductDto" type="com.teamProject.ezmeal.domain.ProductDto"/>
        <typeAlias alias="ProductImgDto" type="com.teamProject.ezmeal.domain.ProductImgDto"/>
<!--회원 등급, 적립금-->
        <typeAlias alias="MemberGradeDto" type="com.teamProject.ezmeal.domain.MemberGradeDto"/>
        <typeAlias alias="MemberGradeBenefitDto" type="com.teamProject.ezmeal.domain.MemberGradeBenefitDto"/>
        <typeAlias alias="PointTransactionHistoryDto" type="com.teamProject.ezmeal.domain.PointTransactionHistoryDto"/>


    </typeAliases>
</configuration>