/*
 1. 모달 버튼(오픈, 클로즈)
 2.*/
* {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {    /*최상위 컨테이너 =로그인창*/
    width: 100%;
    height: 100vh; /*vh 단위는 뷰포트의 높이를 기준으로 크기를 지정*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f8fc;
    overflow: hidden; /*영역에서 벗어나는 부분 스크롤로 만듬 */
}
.container {  /*로그인 및 회원가입 양식*/
    border-radius: 10px;
    box-shadow: -5px -5px 10px #eae6e6, 5px 5px 10px #d3d6d4;
    position: absolute;
    width: 768px;
    min-height: 480px;
    overflow: hidden;
}
form {
    background: #fbfbf9;
    display: flex;
    flex-direction: column; /*내부 요소 열방향 배치*/
    padding: 0 50px;
    height: 100%;
    justify-content: center; /*수평 가운데 정렬*/
    align-items: center;  /*수직 가운데 정렬*/
}
form input { /*id, 비밀번호 적는란*/
    background: #fbfbf9;
    padding: 16px;
    margin: 8px 0;
    width: 85%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}
button {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
.form_btn {
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #fbfbf9;
}
.form_btn:active { /*active: 사용자가 마우스로 클릭한 태그 선택*/
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
.overlay_btn { /*overlay : 요소위에 요소가 겹쳐보이는것.*/
    background-color: #fbfbf9;
    color: black;
    box-shadow: -5px -5px 10px  #fbfbf9, 5px 5px 8px  #fbfbf9;
}
.sign-in-container {  /*로그인 */
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
}
.sign-up-container {  /*가입*/
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.overlay-left {  /*신규 고객이 가입으로 넘어갈때*/
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-color: #e1eb61;
    color: #e3f9ee;
    transition: all 0.5s;
}
.overlay-right { /*기존 고객이 로그인으로 갈때*/
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #e1eb61;
    color: #fff;
    transition: all 0.5s;
}
.container.right-panel-active .sign-in-container {
    transform: translateX(100%); /* X축(수평 방향)으로 요소를 이동*/
    opacity: 0;
}
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
}
.container.right-panel-active .overlay-right {
    transform: translateX(-100%);
    opacity: 0;
}
.container.right-panel-active .overlay-left {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
}

form h1 { /*sign in,ㅊㄱㄷㅇ(제목) */
    font-weight: bold;
    margin: 0;
    color: #000;
}

p {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
span {
    font-size: 12px;
    color: #000;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

/*모달 관련 css*/
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* 모달 끄는 버튼(x) */
.close {
    position: absolute;
    right: 50px;
    top: 30px ;
    color: #06531a;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(245, 240, 240);
    cursor: pointer;
}

.hidden {
    display: none;
}

