<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMember">
    <select id="selectEmpId" parameterType="String" resultType="int">
        SELECT emp_id
        FROM tb_employee
        WHERE emp_acct_id = #{id}
    </select>

    <select id="selectLoginAdminInfo" resultType="AdminMemberDto">
        SELECT *
        FROM tb_employee
        WHERE emp_id = #{empId}
    </select>
</mapper>