<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tb_member">

    <select id="lgin_pw" parameterType="String" resultType="String">
        SELECT lgin_pw
        FROM tb_member
        WHERE lgin_id = #{loginId}
    </select>

    <select id="mbr_id" parameterType="String" resultType="long">
        SELECT mbr_id
        FROM tb_member
        WHERE lgin_id = #{loginId}
    </select>


</mapper>
