<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tb_pointTransactionHistory">
    <select id="point_can_use" resultType="int">
        select usfl_acmlt_pnt
        from tb_point_transaction_history
        where mbr_id = #{mbrId};
    </select>
</mapper>